<div class="container">
  <div class="col-xs-12">
    <h1>Prueba - Julián Mahecha</h1>
    <div >
      <label for="uploadFile">Seleccione el archivo de datos</label>
      <input id="uploadFile" type="file" ng2FileSelect [uploader]="uploader" />
    </div>
    <hr >
    <div *ngIf="arrayPro.length >0 || arrayDep.length > 0 || arrayDist.length > 0">
      <h4>Departamento</h4>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Código Padre</th>
          <th>Descripción Padre</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of arrayDep">
          <td>{{u.code}}</td>
          <td>{{u.name}}</td>
          <td>{{u.parentCode}}</td>
          <td>{{u.parentName}}</td>
        </tr>
        </tbody>
      </table>
      <hr>
      <h4>Provincia</h4>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Código Padre</th>
          <th>Descripción Padre</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of arrayPro">
          <td>{{u.code}}</td>
          <td>{{u.name}}</td>
          <td>{{u.parentCode}}</td>
          <td>{{u.parentName}}</td>
        </tr>
        </tbody>
      </table>
      <hr>
      <h4>Distrito</h4>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Código Padre</th>
          <th>Descripción Padre</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of arrayDist">
          <td>{{u.code}}</td>
          <td>{{u.name}}</td>
          <td>{{u.parentCode}}</td>
          <td>{{u.parentName}}</td>
        </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>
